<nav style="background: linear-gradient(90deg, #b438ff, #3d1d98);" th:fragment="nav" class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient">
    <div class="container"><a class="navbar-brand logo" href="/">euphoria</a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarNav">
            <span class="visually-hidden">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li th:if="${role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/category">Вид услуг</a></li>
                <li th:if="${role == 'MASTER' or role == 'CLIENT'}" class="nav-item"><a class="nav-link" href="/notes/my">История</a></li>
                <li th:if="${role != 'NOT'}" class="nav-item"><a class="nav-link" href="/masters">Команда</a></li>
                <li class="nav-item"><a class="nav-link" href="/">Услуги</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">Мы на карте</a></li>
                <li th:if="${role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/users">Пользователи</a></li>
                <li th:if="${role == 'MASTER'}" class="nav-item"><a class="nav-link" href="/master">Учетная запись</a></li>
                <li th:if="${role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/stats">Статистика</a></li>
                <li th:if="${role == 'MASTER'}" class="nav-item"><a class="nav-link" href="/notes/add">Добавить</a></li>
                <li th:if="${role == 'NOT'}" class="nav-item"><a class="nav-link" href="/login">Авторизация</a></li>
                <li th:if="${role == 'NOT'}" class="nav-item"><a class="nav-link" href="/reg">Регистрация</a></li>
                <li th:if="${role != 'NOT'}" class="nav-item"><a class="nav-link" href="/logout">Выход</a></li>
            </ul>
        </div>
    </div>
</nav>